.nav-style {
    color: white;
    font-family: "Tahoma";
    font-size: 1.6rem;
}

.nav-item a:hover {
    color: black !important;
    cursor: pointer;
}

.font1 {
    font-family: "Tahoma";
    font-size: 3.5rem;
    color: steelblue;
    font-weight: bold;
}

.font2 {
    font-family: "Tahoma";
    font-size: 1.3rem;
    color: dimgray;
    font-weight: bold;
}

.font3 {
    font-family: "Tahoma";
    font-size: 4.5rem;
    color: steelblue;
    font-weight: bold;
}

.font4 {
    font-family: "Tahoma";
    font-size: 2rem;
    color: dimgray;
}

.font5 {
    font-family: "Tahoma";
    font-size: 1.3rem;
    color: black;
}

.spacing {
    justify-content: space-evenly;
}

.video-container {
    position: relative;
    height: 0;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 300px;
}

/* ABOUT SECTION */

.boxAbout {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    height: 900px;
    padding: 1rem!important;
}

.sectionAbout {
    padding-top: 10%;
    padding-right: 2%;
    padding-left: 5%;
    display: grid;
    width: 100%;
    height: 1000px;
    grid-template-areas: "intro pic"
                         "fact  pic";
    grid-template-columns: 4fr 4fr;
    grid-template-rows: 0fr 0.49fr;
    grid-column-gap: 1px;
}

.intro{
    grid-area: intro;
    padding-top: 5%
}
.pic{
    grid-area: pic;
}
.fact{
    grid-area: fact;
}

/* SKILL SECTION */

.boxSkill {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    height: 900px;
    padding: 3rem!important;
}

.sectionSkill {
    padding-top: 5%;
    padding-left: 1%;
    display: grid;
    width: 100%;
    height: 1000px;
    grid-template-areas: "sk-title      sk-title    sk-title"
                         "soft-title    hard-title  other-title"
                         "soft          hard        other";
    grid-template-columns: 1.2fr 1fr 1fr;
    grid-template-rows: 0.4fr 0.8fr 0.8fr;
    grid-column-gap: 50px;
}

.sk-title{
    grid-area: sk-title;
}
.lang-title{
    grid-area: lang-title;
}
.lang{
    grid-area: lang;
}
.hard-title{
    grid-area: hard-title;
}
.hard{
    grid-area: hard;
}
.other-title{
    grid-area: other-title;
}
.other{
    grid-area: other;
}

/* PROJECTS SECTION */

.boxProjects{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .25rem;
    padding: 3rem!important;
}

.sectionProjects{
    padding-top: 5%;
    padding-left: 2%;
    display: grid;
    width: 100%;
    height: 4000px;
    grid-template-areas: "p-title   p-title"
                         "p1        imagep1"
                         "p2        imagep2"
                         "p3        imagep3"
                         "p4        imagep4"
                         "p5        imagep5"
                         "p6        imagep6"
                         "p7        imagep7"
                         "p8        imagep8";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.8fr 2.5fr 2.5fr 2.5fr 2.5fr 2.5fr 2.5fr 2.5fr 2.5fr;
    grid-column-gap: 2%;
}

.p-title{
    grid-area: p-title;
}
.p1{
    grid-area: p1;
}
.imagep1{
    grid-area: imagep1;
}
.p2{
    grid-area: p2;
}
.imagep2{
    grid-area: imagep2;
}
.p3{
    grid-area: p3;
}
.imagep3{
    grid-area: imagep3;
}
.p4{
    grid-area: p4;
}
.imagep4{
    grid-area: imagep4;
}
.p5{
    grid-area: p5;
}
.imagep5{
    grid-area: imagep5;
}
.p6{
    grid-area: p6;
}
.imagep6{
    grid-area: imagep6;
}
.p7{
    grid-area: p7;
}
.imagep7{
    grid-area: imagep7;
}
.p8{
    grid-area: p8;
}
.imagep8{
    grid-area: imagep8;
}

.footer{
    background-color: dimgray;
    font-family: "Courier New";
    font-size: 1.6rem;
}

.style-1{
    padding-top: 3%;
}

body {
    background-image: url("media/Image-Background.jpg");
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

html {
    scroll-behavior: smooth;
    font-size: 14px;
}

nav {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 1160px) {
    .style-2{
        padding-left: 2%;
        padding-right: 2%;
    }
}

@media (min-width: 1400px) {
    .style-2 {
        padding-left: 20%;
        padding-right: 20%;
    }
}